@charset "utf-8";

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block;
}

html {
  overflow-y: scroll;
}

body {
  font-family: "Nanum Gothic", "dotum", sans-serif;
  font-size: 13px;
  font-weight: normal;
  color: #666;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}
select, input, button, textarea {
  display: block;
  box-sizing: border-box;
  font-family: "Nanum Gothic", "dotum", sans-serif;
  font-size: 24px;
  font-weight: normal;
  color: #666;
}

embed, object {
  position: absolute;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

strong {
  font-weight: bold;
}

.input {
  width: 100%;
  height: 60px;
  padding-left: 18px;
  color: #666;
  border: 1px solid #cbcbcb;
  -webkit-appearance: none; box-sizing:border-box; -webkit-box-sizing:border-box; border-radius:0px 0px;
  font-size:24px;
}

.radio {
  position: absolute;
  top: 1px;
  left: 1px;
  margin: 0;
}
.radio-wrap {
  position: relative;
}
.radio-wrap.center {
  display: inline-block;
}
.radio-label {
  display: block;
  height: 20px;
  line-height: 19px;
  padding-left: 30px;
  color: #666;
}
.radio-label.blind {
  padding-left: 20px;
  width: 0;
  text-indent: -99999em;
  overflow: hidden;
}
.radio-label:after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #cbcbcb;
  border-radius: 50%;
  background: #ffffff;
  box-sizing: border-box;
}
.radio-label-blank {
  width: 0;
  padding-left: 20px;
  text-indent: -9999px;
}
.radio:checked + .radio-label:before {
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  z-index: 10;
  top: 6px;
  left: 6px;
  border-radius: 50%;
  background: #222;
}
.radio:disabled + .radio-label:after {
  background: #ddd;
}

/* hidden reset */
.hc{display:block;overflow:hidden;position:absolute;left:-9999px;width:1px;height:1px;font-size:1px;line-height:500px;text-indent:-9999px}

/* a-style */
a{color:#fff;text-decoration:none; color:inherit; text-align:center;}
a:hover,a:active,a:focus{color:#999; text-decoration:none;}
legend, caption{display:none; clear:both}

/* margin */
.mt2{margin-top:2px;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px !important}
.mt20{margin-top:20px !important}
.mt25{margin-top:25px !important}
.mt30{margin-top:30px !important}
.mt35{margin-top:35px;}
.mt40{margin-top:40px;}
.mt45{margin-top:45px;}
.mt50{margin-top:50px;}
.mt55{margin-top:55px;}
.mt60{margin-top:60px;}
.ml6{margin-left:6px}
.ml10{margin-left:10px}
.ml20{margin-left:20px}
.mr10{margin-right:10px}
.pl10{padding-left:10px}
.pl15{padding-left:15px}
.pl20{padding-left:20px}
.pl35{padding-left:35px}

.input.gray-bg {
  background-color: #f9f9f9;
}
.btn-form {
  width: 120px;
  height: 60px;
  font-size: 24px;
  color: #ffffff;
  line-height: 60px;
  border: 0;
  background: #666;
  font-weight: bold;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
}

/* ���� */
.left-float {
  float: left;
}
.left-float.left {
  margin-right: 10px;
}
.left-float.left.group {
  margin-right: 20px;
}
.left-float.left.half {
  margin-right: 5px;
}
.left-float.right {
  margin-left: 10px;
}
.left-float.right.group {
  margin-left: 20px;
}
.left-float.right.half {
  margin-left: 5px;
}
.right-float {
  float: right;
}
.right-float.left {
  margin-right: 10px;
}
.right-float.left.group {
  margin-right: 20px;
}
.right-float.left.half {
  margin-right: 5px;
}
.right-float.right {
  margin-left: 10px;
}
.right-float.right.group {
  margin-left: 20px;
}
.right-float.right.half {
  margin-left: 5px;
}

.boldA{font-weight:bold; text-decoration:underline}
.overF{overflow:hidden}
.disB{display:block}
.scriptDiv {left: -50000px;position: absolute; top: -50000px;}
.blind {left: -50000px; position: absolute; top: -50000px;}
.relative{position:relative}

/* üũ�ڽ� */
input[type=checkbox].css-checkbox {position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;}
input[type=checkbox].css-checkbox + label.css-label {
	padding-left:37px;
	height:30px;
	display:inline-block;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:22px;
	vertical-align:middle;
	cursor:pointer;
	color:#999;
	line-height:30px;
}
input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -30px;
}
label.css-label{
	background-image:url('../images/btn/check1.png');
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* ��ó�� */
.dimmed {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.7;
  z-index: 999;
}
.dimmed.on {
  display: block;
}
.dimmed-pop {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.7;
  z-index: 999;
}

#layer-popup{position:fixed; left:5%; top:50%; z-index:9999; margin:-258px 0 0 0; background:#fff; border-radius:5px; height:auto; width:90%; padding:0 0 30px}



/* table */
.tbldiv{border-top: 4px solid #222; border-bottom: 2px solid #222;}
.hr-table {
  width: 100%;
  table-layout: fixed;
}
.hr-table th {
  height: 80px;
  text-align: left;
  padding-left: 20px;
  font-weight: bold;
  color: #222;
  border-left: 2px solid #dcdcdc;
  border-bottom: 2px solid #dcdcdc;
  background: #f9f9f9;
  font-size:24px;
}
.hr-table th:first-child {
  border-left: 0;
}
.hr-table th.last {
  border-bottom: 0;
}
.hr-table th.left-border {
  border-left: 2px solid #dcdcdc;
}
.hr-table th.center {
  padding: 0;
  text-align: center;
}
.hr-table td {
	padding:10px;
	color: #999;
	border-bottom: 2px solid #dcdcdc;
	border-left: 2px solid #dcdcdc;
	font-size:24px;
	line-height:30px;
	text-align:left;
}
.hr-table td.td-padding {
  padding-top: 10px;
  padding-bottom: 10px;
}
.hr-table td.last {
  border-bottom: 0;
}
.hr-table td.center {
  padding: 0;
  text-align: center;
}
.hr-table td .input.full-width,
.hr-table td .textarea.full-width {
  width: 95%;
}
.hr-table tr.last th, .hr-table tr.last td{
  border-bottom: 0;
}
.hr-table td .address{display:block; padding:5px 19px 20px; line-height:35px}

.select {
  border: 1px solid #CDCDCD;
  background: #FFFFFF;
  position: relative;
  /* Items box */
}
.select-wrapper {
  width: 240px;
  position: relative;
  cursor: pointer;
}
.select-wrapper.half-width {
  width: 115px;
}
.select-wrapper.plus-half-width {
  width: 365px;
}
.select-wrapper.sort-wide {
  width: 164px;
}
.select-wrapper.sort-normal {
  width: 106px;
}
.select-wrapper.search-med {
  width: 88px;
}
.select .label {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 25px 0 10px;
  font-size: 12px;
  line-height: 35px;
  color: #666666;
  height: 35px;
  text-align:left;
}
.select .button {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 25px;
  height: 38px;
  color: #999999;
  text-align: center;
  font: 0/0 a;
  *font: 38px/38px Lucida Sans Unicode, Arial Unicode MS, Arial;
}
.select .button:after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-top-color: #999999;
  border-bottom: none;
}

.textarea {
  box-sizing: border-box;
  width: 100%;
  height: 80px;
  padding: 5px;
  color: #666;
  border: 1px solid #cbcbcb;
}

.part-bottom:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.part-bottom {
  margin: 10px 0 0;
  text-align:center;
}
.part-bottom30 {
  margin: 30px 0 0;
  text-align:center;
}

.em-blue {
  color: #25aae1 !important;
}
.line{
  text-decoration:underline;
}

.btn-fill {
  width: 100%;
  height: 70px;
  font-size: 24px;
  color: #fff;
  line-height: 24px;
  border: 0;
  background: #666;
  font-weight: bold;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
}
.btn-fill.blue {
  background: #25aae1;
}
.btn-fill.left {
  margin-right: 10px;
}
.btn-fill.glay{background:#666}

.btn-log {
  width: 100%;
  height: 60px;
  font-size: 24px;
  line-height: 30px;
  border: 0;
  font-weight: bold;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  border-radius:3px;
}
.btn-log.left {
  margin-right: 10px;
}
.btn-log.white{border:1px solid #d8d8d8; background:#fff; color:#999}
.btn-log.blue{background:#25aae1 url('../images/icon/btn-log.png') no-repeat 17px 16px; color:#fff; padding:0 0 0 35px;}


/* select box */
.styled-select_p{width:100%; border:1px solid #cbcbcb; height:60px; overflow: hidden; background:url('../images/btn/b_arrow.png') right center no-repeat; -webkit-appearance: none;
   box-sizing:border-box; -webkit-box-sizing:border-box;}
.styled-select_p select{border:none; background: transparent; width:100%;  font-size:24px; color:#666; padding:0 20px; height:60px;  -webkit-appearance: none;}




/* nav */
.nav-warp{position:absolute; left:0; top:0; width:100%}
.nav-warp-con{position:relative; width:640px}
#nav{background:#fff; width:550px; position:absolute; left:0; top:0; z-index:99999;}
.title-member:after{content: "."; display: block; height:0; overflow:hidden; clear:both;}
.title-member{padding:15px 30px;}
.title-member .name{float:left; margin:10px 0 0 0; font:bold 30px/40px NanumGothic; color:#000; width:170px; }
.title-member .name span{color:#25aae1;}

.log-item:after{content: "."; display: block; height:0; overflow:hidden; clear:both;}
.log-item{border-top:1px solid #d8d8d8; border-bottom:1px solid #d8d8d8}
.log-item li{float:left;height:122px; width:24.8%; border-left:1px solid #d8d8d8;}
.log-item li:first-child{border:none}
.log-item li>div{padding:18px 0; text-align:center;}
.log-item li span:nth-child(1){font-weight:bold; font-size:40px; color:#25aae1; display:block; height:50px}
.log-item li span:nth-child(2){font-weight:bold; font-size:22px; color:#666; text-align:center}
.life-item:after{content: "."; display: block; height:0; overflow:hidden; clear:both;}

.life-item .depth1 li a, .life-item .depth2 li a, .life-item .depth li a{display:block; text-align:left;}
.life-item .depth1 li{height:60px; color:#fff; background:#25aae1; position:relative; padding:20px 0 0 35px; font-size:24px; font-weight:bold;}
.life-item .depth1 .btn{position:absolute; right:30px; top:24px; background-position:-40px -119px; width:30px; height:30px;}
.life-item .depth2 li{border-top:1px solid #d8d8d8; height:58px; color:#666; background:#f5f5f5; position:relative; padding:10px 0 10px 31px; font-size:24px;}
.life-item .depth2 li:first-child{border:none}
.life-item .depth2 .m00{position:absolute; top:40px; background-position:-154px -118px; width:7px; height:1px; }
.life-item .depth2 .title{position:absolute; left:43px; top:27px}
.life-item .depth2 .btn.on{position:absolute; right:30px; top:24px; background-position:0 -119px; width:30px; height:30px;}
.life-item .depth2 .btn{position:absolute; right:30px; top:24px; background-position:0 -149px; width:30px; height:30px;}
.life-item .depth li{border-top:1px solid #d8d8d8; height:60px; color:#222; background:#fff; position:relative; padding:20px 0 0 31px; font-size:24px; font-weight:bold;}
.life-item .depth .btn{position:absolute; right:30px; top:24px; background-position:0 -149px; width:30px; height:30px;}
.life-item .depth .btn-plus{position:absolute; right:30px; top:24px; background-position:-83px -119px; width:30px; height:30px;}
.life-item .depth .btn-arrow{position:absolute; right:30px; top:24px; background-position:-121px -118px; width:30px; height:30px;}

.life-item li .m01{background-position:0 0; width:40px; height:34px;}
.life-item li .depth .m02{background-position:-47px 0; width:36px; height:38px;}
.life-item li .depth .m03{background-position:-89px 0; width:47px; height:37px;}
.life-item li .depth .m04{background-position:-142px 0; width:40px; height:36px;}
.life-item li .depth .m05{background-position:-190px 0; width:36px; height:32px;}
.life-item li .depth .m06{background-position:-236px 0; width:40px; height:42px;}
.life-item li .depth .m07{background-position:-286px 0; width:43px; height:35px;}
.life-item li .depth .m08{background-position:-340px 0; width:36px; height:36px;}
.life-item li .depth .m09{background-position:-385px 0; width:38px; height:38px;}
.life-item li .icon{background:url('../images/icon/nav-icon.png') no-repeat; display: inline-block; overflow: hidden; text-indent: 100%; white-space: nowrap; vertical-align: middle; font-size: 0;}
.life-item li .title{position:absolute; left:90px; top:27px}

.life-item li:last-child{border-top:1px solid #d8d8d8}
.life-item li button.yellow-button{background:#f8b62b; color:#fff; border:0; height:60px; font-size:26px; font-weight:bold; border-radius:3px;}
.life-item li button.bottom-button:after{content: "."; display: block; height:0; overflow:hidden; clear:both;}
.life-item li button.bottom-button{float:left; background:#f5f5f5; color:#222; border:0; height:82px; font-size:24px; font-weight:bold;}
.life-item li button.bottom-button:first-child{border-right:1px solid #d8d8d8;}

.nav-close{position:fixed; left:550px; top:0; z-index:99999}




/* list */
.list01:after{content: "."; display: block; height:0; overflow:hidden; clear:both;}
.list01{background:#fafafa; border-top:2px solid #e6e6e6; border-bottom:2px solid #e6e6e6; padding:30px}
.list01 li{text-align:left; font:24px/40px NanumGothic; background: url('../images/icon/dot01.png') no-repeat 0 18px; padding:0 0 0 15px;}
.list01 li .blue{color:#25aae1}




/* Layout */
.wrapperDiv{position:relative; /*overflow:hidden; */}
.container{position:relative; width:100%; height:100%}
.wrap{position:relative; width:100%}

/* header */
.header{padding:0; position:relative; background:#fff; height:90px}
.header h1{position:absolute; top:22px; left:15%;}
.header .menuBtn{position:absolute; top:33px; left:30px; z-index:2000}
.header .serchBtn{position:absolute; top:18px; right:16px}

/* search */
.header .form-search-button{cursor:pointer; position:absolute; top:18px; right:16px; height:55px; border-radius:30px; border:2px solid #ddd}
.header .form-search-button .re_search_button{position:absolute; top:14px; right:19px;}
.header .form-search-button .words{padding:18px 70px 0 20px; font-size:19px; color:#bbb; font-weight:bold}
.header .form-search-button button{background:none; font-size:0; border:0}

/* section */
section{text-align:center}

/* footer */
footer:after{content: "."; display: block; height:0; overflow:hidden; clear:both;}
footer{position:relative; margin:0; text-align:center; padding:35px 50px; background:#38393a; line-height:32px; color:#aaa;}
footer .footer-address{font-size:22px !important; line-height:32px;}
footer .copyright{padding:14px 0 0; font-size:18px}
footer .blue{color:#25aae1;}

/* sub */
.subBody{position:relative; min-height:422px; letter-spacing:-1px}
.subBody h2{position:relative; background:#38393a url('../images/h2_bg.png') repeat-x; padding:27px 0;}
.subBody h2 .title-sub{color:#fff; font-weight:bold; font-size:24px;}
.subBody h2 .btnBack{position:absolute; top:28px; left:30px;}
.subBody .subCon{overflow:hidden; padding:30px; text-align:center; min-width:580px; margin:0 auto}

.part-title{text-align:left; margin:40px 0 20px; font:bold 30px/40px NanumGothic; color:#222}


/* btn */
.part-bottom30 ul li{width:46.8%; height:70px; display:inline-block;}
.part-bottom30 ul li:first-child{margin-right:10px}
.part-bottom30 ul li .btn-fill{width:100%}















/* addon */
.vt-table{
  width: 100%;
  table-layout: fixed;
  border-top: 4px solid #222;
  border-bottom: 2px solid #222;
}

.vt-table th {
  height: 80px;
  text-align: left;
  padding-left: 20px;
  font-weight: bold;
  color: #222;
  border-left: 2px solid #dcdcdc;
  border-bottom: 2px solid #dcdcdc;
  background: #f9f9f9;
  font-size:24px;
}
.vt-table th:first-child {
  border-left: 0;
}
.vt-table th.last {
  border-bottom: 0;
}
.vt-table th.left-border {
  border-left: 2px solid #dcdcdc;
}
.vt-table th.center {
  padding: 0;
  text-align: center;
}
.vt-table td {
  padding:10px;
  color: #999;
  border-bottom: 2px solid #dcdcdc;
  border-left: 2px solid #dcdcdc;
  font-size:24px;
  line-height:30px;
  text-align:left;
}
.vt-table td:first-child{
  border-left:0;
}
.vt-table td.td-padding {
  padding-top: 10px;
  padding-bottom: 10px;
}
.vt-table td.last {
  border-bottom: 0;
}
.vt-table td.center {
  padding: 0;
  text-align: center;
}
.vt-table td .input.full-width,
.vt-table td .textarea.full-width {
  width: 95%;
}

.subBody .hc {
  position:absolute;
  padding:0;
}

.subCon.no-padding {
  padding:0;
}