/* login */
.login-form{padding:75px 30px 0}
.login-form h3.title{display:inline-block}
.login-form .notice{padding:30px; font-weight:bold; font-size:25px; line-height:32px; color:#666}
.login-form .box-Yinput{padding:0}
.login-form .box-Yinput .gap {border:1px solid #d9d9d9; background:#fff; margin:0 0 10px 0; padding:21px 0 23px 20px;}
.login-form .box-Yinput .gap.input-id{background: url('../images/icon/email.png') no-repeat 97% center;}
.login-form .box-Yinput .gap.input-pw{background: url('../images/icon/password.png') no-repeat 97% center;}
.login-form .box-Yinput .gap input{text-align:left; width:70%; color:#999; border:none; font-size:24px; height:36px; line-height:30px}

.login-agree{margin:15px 0 0;}
.login-agree:after{content:"."; display:block; height:0; overflow:hidden; clear:both;}
.login-agree>div{margin:-5px 0 0}
.login-agree-chk{float:left; margin:0; padding:0; height:30px; line-height:30px; vertical-align:middle}
.login-agree-label{margin-left:50px; color:#999; height:17px; line-height:17px; font-size:22px; cursor:pointer;}

.login-link{position:relative; margin-left:20px; padding-left:20px; color:#999; line-height:20px; font-size:22px; background: url('../images/icon/line01.png') no-repeat 0;}
.login-links{display:inline-block; margin:10px 0 0; width:100%; position:relative}
.login-links .btn-facebook{float:left; height:70px; width:50%; box-sizing: border-box; border:0; background:#3c5b9b url('../images/icon/facebook.png') no-repeat 10% center; color:#fff; font-size:24px; font-weight:bold;}
.login-links .btn-naver{float:right; height:70px; width:50%; box-sizing: border-box; border:0; background:#2db400 url('../images/icon/naver.png') no-repeat 10% center; color:#fff; font-size:24px; font-weight:bold;}
.login-links .hc{position:absolute; left:50%; height:70px; width:10px; background:#fff}
.login-form-submit{cursor:pointer; margin:51px 0 0; height:70px; width:100%; box-sizing: border-box; border:0; font-size: 24px; background:#25aae1; color:#fff; font-weight:bold; }




