/* search tab */
.select-top {
  position:relative;
  background:#38393a url(../images/h2_bg.png) repeat-x;
}
.select-top .btnBack {
  position:absolute;
  top:22px;
  left:30px;
}

.select-top-list {
  margin:2px 0 0 45px;
  height:68px;
}
.select-top-item {
  position:relative;
  float:left;
  width:50%;
}
.select-top-item:first-child:after {
  content:"";
  position:absolute;
  top:17px;
  right:0;
  width:0;
  height:32px;
  border-left:1px solid #2b2c2e;
  border-right:1px solid #424345;
}
.select-top-btn {
  position:relative;
  display:block;
  padding:0;
  width:100%;
  height:68px;
  color:#fff;
  font-size:24px;
  font-weight:bold;
  border:0;
  background:none;
}
.select-top-btn:after {
  content:"";
  display:inline-block;
  margin:0 0 0 15px;
  width:1px;
  height:0;
  border-top:8px solid #fff;
  border-left:6px solid transparent;
  border-right:6px solid transparent;
  vertical-align:middle;
}

/* map section */
.section-map {
  position:relative;
}
.section-map .map-area{
  z-index:10;
}

/* btns on map */
.btn-map-area .btn-map-function {
  position:absolute;
  left:20px;
  width:56px;
  height:56px;
  background:url(../images/sale/icon_btn_map_function.png) no-repeat;
  border:0;
  text-indent:-9999px;
  z-index:30;
}
.btn-map-area .btn-map-function.geo {
  top:20px;
  background-position:0 0;
}
.btn-map-area .btn-map-function.zoomin {
  top:96px;
  background-position:0 -70px;
}
.btn-map-area .btn-map-function.zoomout {
  top:162px;
  background-position:0 -140px;
}
.btn-map-area .btn-map-function.legend-type-btn-offer {
  top:248px;
  background-position:0 -210px;
}
.btn-map-area .btn-map-function.legend-type-btn-price {
  top:314px;
  background-position:0 -280px;
}

/* distance marker on map */
.section-map .marker-group {
  position:absolute;
  background:url(../images/sale/bg_marker_group.png) no-repeat;
  text-align:center;
  color:#fff;
  font-size:28px;
  font-weight:bold;
  z-index:20;
}
.section-map .marker-group.digit1 {
  width:63px;
  height:63px;
  line-height:63px;
  background-position:-330px 0;
}
.section-map .marker-group.digit2 {
  width:83px;
  height:83px;
  line-height:83px;
  background-position:-247px 0;
}
.section-map .marker-group.digit3 {
  width:105px;
  height:105px;
  line-height:105px;
  background-position:-142px 0;
}
.section-map .marker-group.digit4 {
  width:142px;
  height:142px;
  line-height:142px;
  background-position:0 0;
}

/* map bottom menu */
.section-map-menu {
  position:absolute;
  width:100%;
  bottom:0;
  z-index:99;
}
.map-menu-top {
  height:70px;
  background:rgba(0,0,0,.7);
}
.map-menu-top .item-summary {
  float:left;
  margin:24px 0 0 36px;
  color:#fff;
  font-size:22px;
  font-weight:bold;
  line-height:1;
}
.map-menu-top .item-summary-num {
  color:#fab44b;
}
.map-menu-top .item-view {
  float:right;
  margin:24px 36px 0 0;
}
.map-menu-top .item-view-link {
  color:#fff;
  font-size:22px;
  font-weight:bold;
  line-height:1;
}
.map-menu-top .item-view-link:after {
  content:"";
  display:inline-block;
  margin:0 0 0 15px;
  width:10px;
  height:10px;
  border-top:3px solid #fff;
  border-right:3px solid #fff;
  -webkit-transform:rotate(45deg);
  transform:rotate(45deg);
}
.map-menu-body {
  background:rgba(0,0,0,.85);
}
.map-menu-nav {
  height:110px;
}
.map-menu-item {
  float:left;
  width:20%;
}
.map-menu-link {
  display:block;
  width:100%;
  padding:70px 0 0 0;
  height:40px;
  background:url(../images/sale/icon_btn_map_nav.png) no-repeat;
  color:#fff;
  font-size:22px;
  text-align:center;
}
.map-menu-link.menu {
  background-position:50% 23px;
}
.map-menu-link.search {
  background-position:50% -105px;
}
.map-menu-link.home {
  background-position:50% -239px;
}
.map-menu-link.favorite {
  background-position:50% -367px;
}
.map-menu-link.mychamp {
  background-position:50% -499px;
}

/* popup */
.pop-item-type .pop-item-type-wrap .layer-close{
  position:absolute;
  right:30px;
  top:30px;
  border:0;
  width:29px;
  height:29px;
  background:url(../images/btn/btn_close_layer.png) no-repeat;
  text-indent:-9999px;
}
.pop-item-type .pop-item-type-wrap .layer-popup-title{
  padding-left:30px;
  height:85px;
  line-height:85px;
  color:#000;
  font-size:30px;
  font-weight:bold;
  border-bottom:1px solid #d9d9d9;
}
.pop-item-type .pop-item-type-wrap .layer-popup-subtitle{
  margin:30px 0 20px;
  color:#222;
  font-size:24px;
  font-weight:bold;
}

.pop-item-category {
  position:relative;
  margin:0 30px;
}

.pop-item-category-list:after {
  content:".";
  display:block;
  height:0;
  overflow:hidden;
  clear:both;
}
.pop-item-category-item {
  position:relative;
  float:left;
  margin:0 0 0 4%;
  width:22%;
}
.pop-item-category-item:first-child {
  margin:0;
}
.pop-item-category-input {
  position:absolute;
  z-index:-1;
  visibility:hidden;
}
.pop-item-category-label {
  display:block;
  box-sizing:border-box;
  width:100%;
  height:60px;
  line-height:60px;
  font-size:24px;
  text-align:center;
  border:1px solid #d9d9d9;
}
.pop-item-category-input:checked + .pop-item-category-label {
  color:#fff;
  font-weight:bold;
  background:#25aae1;
}
.pop-item-category-chk {
  position:absolute;
  top:0;
  right:0;
}
.pop-item-category-chk-input {
  position:absolute;
  z-index:-1;
  visibility:hidden;
}
.pop-item-category-chk-label {
  padding:0 0 0 32px;
  font-size:22px;
  line-height:1;
}
.pop-item-category-chk-label:after {
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:22px;
  height:22px;
  background:url(../images/sale/bg_check01.png) no-repeat;
}
.pop-item-category-chk-input:checked + .pop-item-category-chk-label:after {
  background-position:0 -22px;
}

.pop-item-deal {
  position:relative;
  margin:0 30px;
}
.pop-item-deal-list:after {
  content:".";
  display:block;
  height:0;
  overflow:hidden;
  clear:both;
}
.pop-item-deal-item {
  position:relative;
  float:left;
  width:48%;
}
.pop-item-deal-item:nth-child(2n) {
  margin:0 0 0 4%;
}
.pop-item-deal-input {
  position:absolute;
  z-index:-1;
  visibility:hidden;
}
.pop-item-deal-label {
  display:block;
  box-sizing:border-box;
  padding:0 0 0 18px;
  width:100%;
  height:60px;
  line-height:60px;
  font-size:24px;
  border:1px solid #d9d9d9;
}
.pop-item-deal-input:checked + .pop-item-deal-label {
  background:#fafafa url(../images/sale/bg_check02.png) no-repeat 90% 50%;
}

.pop-item-type .part-bottom30 {
  margin:30px 30px 0;
}

/* select danji */
.pop-item-complex-item {
  position:relative;
}
.pop-item-complex-input {
  position:absolute;
  z-index:-1;
  visibility:hidden;
}
.pop-item-complex-label {
  display:block;
  box-sizing:border-box;
  padding:0 0 0 30px;
  width:100%;
  height:60px;
  line-height:60px;
  font-size:24px;
  border:1px solid #d9d9d9;
  border-top:0;
}
.pop-item-complex-input:checked + .pop-item-complex-label {
  background:#fafafa url(../images/sale/bg_check02.png) no-repeat 94% 50%;
}

.pop-item-type .part-bottom30 {
  margin:30px 30px 0;
}

/* select price */
.pop-item-price {
  position:relative;
  margin:0 30px;
}
.pop-item-price-item {
  position:relative;
  margin:20px 0 0 0;
}
.pop-item-price-item:first-child {
  margin:0;
}
.pop-item-price-input {
  position:absolute;
  z-index:-1;
  visibility:hidden;
}
.pop-item-price-label {
  display:block;
  box-sizing:border-box;
  padding:0 0 0 40px;
  height:30px;
  line-height:30px;
  font-size:24px;
}
.pop-item-price-label:after {
  content:"";
  position:absolute;
  top:0;
  left:0;
  display:block;
  width:26px;
  height:26px;
  border:2px solid #cbcbcb;
  border-radius:100%;
}
.pop-item-price-label.price-1:before {
  background:#580f10;
}
.pop-item-price-label.price-2:before {
  background:#a64243;
}
.pop-item-price-label.price-3:before {
  background:#e64b4a;
}
.pop-item-price-label.price-4:before {
  background:#ff6936;
}
.pop-item-price-label.price-5:before {
  background:#ff9700;
}
.pop-item-price-label.price-6:before {
  background:#ffcc00;
}
.pop-item-price-label.price-7:before {
  background:#d4d457;
}
.pop-item-price-label.price-8:before {
  background:#7da551;
}
.pop-item-price-input:checked + .pop-item-price-label:before {
  content:"";
  position:absolute;
  top:5px;
  left:5px;
  width:20px;
  height:20px;
  border-radius:100%;
}

.pop-item-type .part-bottom30 {
  margin:30px 30px 0;
}

/* deal list */
.deal-state-sort {
  position:absolute;
  top:10px;
  right:30px;
  width:190px;
}

.group-bar {
  position:relative;
  box-sizing:border-box;
  padding:0 0 0 63px;
  height:43px;
  line-height:43px;
  color:#fff;
  font-size:22px;
  font-weight:bold;
  text-align:left;
  background:#b9b1a1 url(../images/sale/icon_bullet_list_group.png) no-repeat 30px 10px;
}
.agent-name.agent-link {
  position:relative;
  display:block;
  text-align:left;
  line-height:1;
}
.agent-link:after {
  content:"";
  position:absolute;
  top:5px;
  right:0;
  display:block;
  margin:0 0 0 15px;
  width:16px;
  height:16px;
  border-top:4px solid #f8b62b;
  border-right:4px solid #f8b62b;
  -webkit-transform:rotate(45deg);
  transform:rotate(45deg);
}

.deal-state{
  position:relative;
  height:80px;
  padding:0 30px;

  line-height:80px;
  font-size:22px;
  font-weight:bold;
  color:#666;
  text-align:left;

  border-bottom:1px solid #d9d9d9;
  box-sizing:border-box;
}

.deal-state .dealing{
  padding:0 20px 0 0;
  margin:0 20px 0 0;

  border-right:1px solid #d9d9d9;
}

.deal-state .deal-number{
  color:#ed1c24;
}

.estate-agent{

  padding:30px;
  font-size:22px;
  color:#666;
  text-align:left;

  line-height:1.6;

  border-bottom:1px solid #d9d9d9;
  background:#fffbea;

}

.estate-agent .agent-name{
  font-size:30px;
  font-weight:bold;
  color:#f8b62b;
}

.deal-list-section{
  padding:30px;
  background:#e8e8e8;
}

.deal-list-item{
  position:relative;
  padding:20px;
  margin:0 0 15px 0;
  border:2px solid #d9d9d9;
  background:#fff;

  overflow:hidden;
}

.deal-list-item.blue-border{
  border:2px solid #25aae1;
}

.deal-list-item .deal-category{
  position:absolute;
  top:25px;
  left:25px;

  font-size:22px;
  font-weight:bold;
  color:#ee2830;
  border:2px solid #ee2830;
  background:#fff;
}

.deal-list-item .list-image{
  float:left;
  width:34%;
}

.deal-list-item .list-text{
  width:66%;
  float:left;

  position:relative;

  padding:0 0 0 20px;
  text-align:left;

  box-sizing:border-box;
}

.deal-list-item .list-text .price{
  padding:0 0 10px 0;
  font-size:25px;
  font-weight:bold;
  color:#222;
}

.deal-list-item .list-text .price-number{
  font-size:24px;
  color:#25aae1;
}

.deal-list-item .list-text .address{
  padding:0 0 10px 0;
  font-size:24px;
  color:#666;

  white-space:nowrap;

  overflow:hidden;
  text-overflow: ellipsis;
}

.deal-list-item .list-text .extent{
  padding:0 0 10px 0;
  font-size:24px;
  color:#666;
}

.deal-list-item .list-text .status{
  padding:0 0 10px 0;
  font-size:24px;
  color:#666;
}

.deal-list-item .list-text .dealer{
  position:relative;
  overflow:hidden;
}


.deal-list-item .list-text .deal-sort{
  display:block;
  height:35px;

  padding:3px 10px;

  float:left;

  font-size:22px;
  font-weight:bold;

  color:#fff;

  background:#c2ccd0;

  box-sizing:border-box;
}

.deal-list-item .list-text .dealer .dealer-name{
  display:block;
  width:50%;
  margin:0 0 0 10px;
  font-size:22px;

  line-height:35px;

  float:left;

  white-space:nowrap;

  overflow:hidden;
  text-overflow:ellipsis;
}

.deal-list-item .list-text .buttons{
  position:absolute;
  bottom:0;
  right:0;
}

.deal-list-item .list-text .buttons .favorite,
.deal-list-item .list-text .buttons .more{
  display:inline-block;

  width:32px;
  height:31px;

  text-indent:-99999em;

  border:0;
  background:url(../images/sale/btn_deal_list_menu.png) no-repeat;

}

.deal-list-item .list-text .buttons .more{
  position:relative;
  top:-1px;
  margin:0 0 0 20px;
  padding:0;
  background-position:-38px 0;
}

.deal-list-item .list-text .buttons .favorite.on{
  background-position:0 -43px;
}

.deal-list-item .list-text .buttons .more.on{
  background-position:-38px -43px;
}

.deal-list-item .list-text .more-menu{
  width:178px;

  position:absolute;
  top:35px;
  right:-22px;

  font-size:22px;
  color:#666;

  background:#fff;
}

.deal-list-item .list-text .more-menu .item{
  display:block;
  padding:15px 20px;
  text-align:left;
  border:2px solid #d9d9d9;
}

.deal-list-item .list-text .more-menu .item:first-child{
  border-bottom:0;
}











.sale-sequence{
  height:72px;
  padding:0 30px;
  line-height:72px;

  font-size:22px;
  color:#666;
  text-align:left;

  border-top:1px solid #d9d9d9;
  border-bottom:1px solid #d9d9d9;
  background:#f5f5f5;
}

.sale-sequence .sequence-item{
  display:inline-block;
  margin:0 0 0 15px;
}

.sale-sequence .sequence-item:first-child{
  margin:0;
}

.sale-sequence .sequence-item .sequence-item-title,
.sale-sequence .sequence-item .sequence-item-number{
  display:inline-block;
}

.sale-sequence .sequence-item .sequence-item-title{
  padding:3px 10px;
  margin:0;
  font-weight:bold;
  line-height:normal;
  border:2px solid #666;
}

.sale-detail{
  height:94px;

  padding:0 30px;
  line-height:94px;

  font-size:32px;
  font-weight:bold;
  text-align:left;

  border-bottom:1px solid #d9d9d9;
}

.sale-detail .sale-category{
  display:inline-block;
  position:relative;
  top:-3px;
  font-size:22px;

  padding:3px 5px;
  margin:0 5px 0 0;
  font-weight:bold;
  line-height:normal;
  color:#ee2830;
  border:2px solid #ee2830;
}

.sale-detail .sale-condition{
  margin:0 5px;
  color:#222;
}

.sale-detail .sale-price{
  color:#25aae1;
}

.sale-address{
  padding:30px;
  font-size:26px;
  font-weight:bold;
  line-height:1.6;
  text-align:left;
  color:#222;
}

.sale-state{
  padding:0 30px 30px 30px;

  font-size:22px;
  text-align:left;
}

.sale-state .sale-floor{
  padding:0 20px 0 0;
  margin:0 20px 0 0;

  border-right:1px solid #d9d9d9;
}


.touchslider{
  width:100%;
  position:relative;
  padding:0 30px;

  box-sizing:border-box;
}

.touchslider-viewport{
  width:100%;
  overflow:hidden;
  position:relative;
}

.touchslider-item{
  width:100%;
}

.touchslider-item img{
  width:100%;
}

.touchslider-prev,
.touchslider-next{
  width:54px;
  height:54px;

  position:absolute;
  top:50%;
  margin:-27px 0 0 0;

  text-indent:-99999em;

  background:url(../images/sale/btn_sale_image_move.png) no-repeat;
}

.touchslider-prev{
  left:30px;
}
.touchslider-next{
  right:30px;
  background-position:-54px 0;
}

.hr-table.blue-border{
  border-top:2px solid #28a7e1;
  border-bottom:0;
}

.hr-table.blue-border th,
.hr-table.blue-border td{
  border:1px solid #d9d9d9;
}

.hr-table.blue-border td{
  padding:20px;
}

.hr-table.inner-table{
  margin:0 0 20px 0;
}

.vt-table.blue-border{
  border-top:2px solid #28a7e1;
  border-bottom:0;
}

.vt-table.blue-border th,
.vt-table.blue-border td{
  border:1px solid #d9d9d9;
}

.vt-table.blue-border td{
  padding:20px 10px;
}

.vt-table.inner-table{
  margin:0 0 20px 0;
}

.border-box{
  font-size:22px;
  line-height:1.6;
  border:1px solid #d9d9d9;
  border-top:2px solid #28a7e1;

  overflow:hidden;
}

.border-box.close{
  height:0;
}

.part-title{
  position:relative;
}

.table-title{
  font-size:22px;
  font-weight:bold;
  text-align:left;
  color:#666;
  margin:0 0 10px 0;
}

.btn-box-toggle{
  width:30px;
  height:17px;

  position:absolute;
  top:15px;
  right:30px;

  text-indent:-99999em;

  border:0;
  background:url(../images/sale/btn_box_toggle.png) no-repeat;
}

.btn-box-link{
  width:17px;
  height:30px;

  position:absolute;
  top:15px;
  right:30px;

  text-indent:-99999em;

  border:0;
  background:url(../images/sale/btn_box_link.png) no-repeat;
}

.btn-box-toggle.close{
  background-position:0 -23px;
}

.option-box{
  padding:10px 15px;
  overflow:hidden;
}

.option-item{
  width:101px;
  height:101px;

  float:left;

  margin:10px 5px;

  text-indent:-99999em;
  background:url(../images/sale/icon_option.png) no-repeat;
}

.btn-option-close{
  display:block;
  width:100%;

  font-size:22px;
  font-weight:bold;
  line-height:60px;
  text-align:center;
  color:#fff;

  border:0;
  background:#666;
}

.part-mid .msg{
  font-size:22px;
  text-align:left;
  margin:10px 0 0 0;
  line-height:1.4;
}

.floating-menu{
  width:100%;
  height:110px;

  position:fixed;
  left:0;
  bottom:0;

  padding:20px 0;

  background:rgba(0,0,0,0.85);

  box-sizing:border-box;
  z-index:100;
}

.floating-menu .floating-menu-list{
  width:50%;
  float:left;

  text-align:center;
  line-height:70px;
  box-sizing:border-box;
}

.floating-menu .floating-menu-list:first-child{
  border-right:1px solid #515151;
}

.floating-menu .floating-menu-list .ask{
  display:inline-block;
  position:relative;
  font-size:26px;
  font-weight:bold;
  color:#f8b62b;
  line-height:normal;

  padding:0 0 0 55px;
}

.floating-menu .floating-menu-list .ask b{
  display:block;

  width:51px;
  height:41px;

  position:absolute;
  top:-3px;
  left:0;

  text-indent:-99999em;

  background:url(../images/sale/bg_sale_floating_menu.png) no-repeat;
}

.floating-menu .floating-menu-list .favorite{
  display:inline-block;
  position:relative;
  font-size:26px;
  font-weight:bold;
  color:#e60012;
  line-height:normal;

  padding:0 0 0 55px;
}

.floating-menu .floating-menu-list .favorite b{
  display:block;

  width:51px;
  height:41px;

  position:absolute;
  top:-3px;
  left:0;

  text-indent:-99999em;

  background:url(../images/sale/bg_sale_floating_menu.png) no-repeat -70px 0;
}

