/* search tab */
.title-tab {position:relative; background:#38393a url(../images/h2_bg.png) repeat-x;}
.title-tab .btnBack {position:absolute; top:22px; left:30px;}

.title-tab-list {margin:2px 0 0 45px; height:68px;}
.title-tab-item {float:left; width:20%;}
.title-tab-item:first-child .title-tab-btn:after {display:none;}
.title-tab-btn {position:relative; display:block; padding:0; width:100%; height:68px; color:#fff; font-size:24px; font-weight:bold; border:0; background:none;}
.title-tab-btn:after {content:""; position:absolute; top:17px; left:0; width:0; height:32px; border-left:1px solid #2b2c2e; border-right:1px solid #424345;}
.title-tab-btn.on{color:#28a7e1;}
.title-tab-btn.on:before {content:""; position:absolute; bottom:0; left:0; width:100%; height:4px; background:#28a7e1;}

/* search sub tab */
.search-loc {position:relative; height:68px; background:#e8e8e8; border-top:1px solid #e0e0e0; border-bottom:1px solid #e0e0e0;}
.search-loc-item {float:left; width:25%;}
.search-loc-item:first-child .search-loc-btn:after {display:none;}
.search-loc-btn {position:relative; display:block; padding:0 27px; width:100%; height:68px; color:#666; font-size:24px; border:0; background:none; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.search-loc-btn:after {content:""; position:absolute; top:23px; left:0; width:0; height:22px; border-left:1px solid #d4d4d4; border-right:1px solid #fff;}
.search-loc-btn.on{color:#222; font-weight:bold;}

/* search all list */
.search-tile {margin:30px;}
.search-tile:after {content: "."; display: block; height:0; overflow:hidden; clear:both;}
.search-tile-item {float:left; box-sizing:border-box; padding:0 10px 10px 0; width:33.3%;}
.search-tile-item:nth-child(3n) {padding:0 0 10px 0;}
.search-tile-btn {display:block; padding:0; width:100%; height:80px; color:#666; font-size:24px; border:1px solid #d8d8d8; background:none;}

/* search subway tab */
.search-subway-tab {height:70px;}
.search-subway-tab-item {float:left; width:50%;}
.search-subway-tab-item:first-child .search-subway-tab-btn {border-right:1px solid #ccc;}
.search-subway-tab-btn {position:relative; display:block; box-sizing:border-box; width:100%; height:70px; color:#666; font-size:24px; font-weight:bold; border:0; border-bottom:1px solid #ccc; background:#f5f5f5; text-align:center;}
.search-subway-tab-btn.on{color:#25aae1; border-bottom:1px solid #fff; background:#fff;}

/* subway search result */
.subway-result-link {display:block; padding:29px 30px 29px 50px; border-bottom:1px solid #d9d9d9;}
.subway-result-link:after{content: "."; display: block; height:0; overflow:hidden; clear:both;}
.subway-result-name {float:left; font-size:24px;}
.subway-result-line-wrap {float:right;}
.subway-result-line {float:left; margin:0 0 0 8px; padding:0 10px; height:30px; line-height:30px; font-size:22px; color:#fff; background:#003499; border-radius:15px;}
.subway-result-line.metro-1 {background:#003499;}
.subway-result-line.metro-2 {background:#37b42d;}
.subway-result-line.metro-3 {background:#fb6c3d;}
.subway-result-line.metro-4 {background:#3171d3;}
.subway-result-line.metro-5 {background:#893bb6;}
.subway-result-line.metro-6 {background:#9a4f11;}
.subway-result-line.metro-7 {background:#606d00;}
.subway-result-line.metro-8 {background:#e71e6e;}
.subway-result-line.metro-9 {background:#bf9f1e;}
.subway-result-line.metro-bundang {background:#edb217;}
.subway-result-line.metro-incheon {background:#6691c9;}
.subway-result-line.metro-sinbundang {background:#a8022d;}
.subway-result-line.metro-gyeongui {background:#7dc4a5;}
.subway-result-line.metro-gyeongchun {background:#26a97f;}
.subway-result-line.metro-airport {background:#71b8e5;}
.subway-result-line.metro-uijeongbu {background:#ff8e00;}
.subway-result-line.metro-suin {background:#edb217;}
.subway-result-line.metro-everline {background:#1d8405;}
.subway-result-line.metro-jungang {background:#56c5d0;}
.subway-result-line.busan-1 {background:#fb6c3d;}
.subway-result-line.busan-2 {background:#26a97f;}
.subway-result-line.busan-3 {background:#bf9f1e;}
.subway-result-line.busan-4 {background:#3171d3;}
.subway-result-line.busan-gimhae {background:#893bb6;}
.subway-result-line.daegu-1 {background:#e71e6e;}
.subway-result-line.daegu-2 {background:#37b42d;}
.subway-result-line.gwangju-1 {background:#1d8405;}
.subway-result-line.daejeon-1 {background:#37b42d;}

.subway-result-map-wrap {position:relative; width:100%; padding:92% 0 0 0;}
.subway-result-map {position:absolute; top:0; left:0; width:100%; height:100%;}

/* subway distance popup */
.subway-distance .subway-distance-wrap .layer-close{position:absolute; right:30px; top:30px; border:0; width:29px; height:29px; background:url(../images/btn/btn_close_layer.png) no-repeat; text-indent:-9999px;}
.subway-distance .subway-distance-wrap .layer-popup-title{padding-left:30px; height:85px; line-height:85px; color:#000; font-size:30px; font-weight:bold; border-bottom:1px solid #d9d9d9;}
.subway-distance .subway-distance-list{margin:30px 30px 0 30px;}
.subway-distance .subway-distance-list:after{content:"."; display:block; height:0; overflow:hidden; clear:both;}
.subway-distance .subway-distance-item{float:left; margin:0 0 0 2%; width:32%;}
.subway-distance .subway-distance-item:first-child{margin:0;}
.subway-distance .subway-distance-btn{display:block; padding:0; width:100%; height:82px; border:0; background:#25aae1; color:#fff; font-size:24px; font-weight:bold;}

.mt10{
  margin-top:10px;
}

.search-wrap{
  padding:30px;
  border-bottom:1px solid #d9d9d9;
}

.search-wrap.inner{
  padding:0 0 30px 0;
  border:0;
}

.search-wrap .input-search-wrap{
  position:relative;
}

.search-wrap .input-search{
  display:block;
  width:100%;
  padding:20px 10px;
  border:5px solid #25aae1;
}

.search-wrap .btn-search{
  display:block;
  width:71px;
  height:68px;

  position:absolute;
  top:5px;
  right:5px;

  text-indent:-99999em;
  border:0;
  background:url(../images/search/icon_input_search.png) no-repeat right center;
}

.search-wrap .select-search{
  display:block;
  width:100%;
  appearance: none;
  -webkit-appearance: none;
  padding:20px 10px;
  border:5px solid #25aae1;

  background:url(../images/search/icon_select_search.png) no-repeat right center;
}

.search-result-list .search-result-item{
  padding:28px 50px;
  border-bottom:1px solid #d9d9d9;
}

.search-result-list .search-result-item a{
  display:block;
  font-size:24px;
  text-align:left;
}

.search-result-table{
  width:100%;
}

.search-result-table th,
.search-result-table td{
  height:80px;
  line-height:80px;

  font-size:24px;

  border:1px solid #d9d9d9;
}

.search-result-table th{
  font-weight:bold;
  color:#222;
  background:#f5f5f5;
}

.search-result-table .search-msg{
  line-height:200px;
}
