.mt10{
  margin-top:10px;
}

.search-wrap{
  padding:30px;
  border-bottom:1px solid #d9d9d9;
}

.search-wrap .input-search-wrap{
  position:relative;
}

.search-wrap .input-search{
  display:block;
  width:100%;
  padding:20px 10px;
  border:5px solid #25aae1;
}

.search-wrap .btn-search{
  display:block;
  width:71px;
  height:68px;

  position:absolute;
  top:5px;
  right:5px;

  text-indent:-99999em;
  border:0;
  background:url(../images/search/icon_input_search.png) no-repeat right center;
}

.search-wrap .select-search{
  display:block;
  width:100%;
  appearance: none;
  -webkit-appearance: none;
  padding:20px 10px;
  border:5px solid #25aae1;

  background:url(../images/search/icon_select_search.png) no-repeat right center;
}