@charset "utf-8";




/* step */
.step-list{border:1px solid #ddd; height:81px; margin:0}
.step-list li{float:left; font:bold 24px/24px NanumGothic; color:#999; width:11%; text-align:center; padding:30px 0 27px 20px; background: url('../images/icon/bg_step-arrow-off.png') no-repeat left 0;}
.step-list li:first-child{background:none;}
.step-list li.on{color:#fff; width:45%; padding-left:0; background:url('../images/icon/bg_step-arrow-on.png') no-repeat left 0, url('../images/icon/bg_step-arrow-on1.png') no-repeat right 0; background-color:#2dace2}
.step-list li.on a:hover{color:#fff;}
.step-list li.off{background:none; padding-left:0;}

.step-list02{border:1px solid #ddd; height:81px; margin:0}
.step-list02 li{float:left; font:bold 24px/24px NanumGothic; color:#999; width:11%; text-align:center; padding:30px 0 27px 20px; background: url('../images/icon/bg_step-arrow-off.png') no-repeat left 0;}
.step-list02 li:first-child{background:none;}
.step-list02 li.on{color:#fff; width:50%; padding-left:0; background: url('../images/icon/bg_step-arrow-on1.png') no-repeat right 0; background-color:#2dace2}
.step-list02 li.on a:hover{color:#fff;}
.step-list02 li a{display:block}
.step-list02 li.off{background:none; padding-left:0;}

/* 가입방식 */
.item-log-members:after{content: "."; display: block; height:0; overflow:hidden; clear:both;}
.item-log-members .icon{background:url('../images/members/icon.png') no-repeat; display: inline-block; overflow: hidden; text-indent: 100%; white-space: nowrap; vertical-align: middle; font-size: 0;}
.item-log-members .c-box:after{content: "."; display: block; height:0; overflow:hidden; clear:both;}
.item-log-members .c-box{margin:19px 0 0; border:1px solid #ddd; padding:41px 0 41px 31px; position:relative;}
.item-log-members .icon.email{float:left; background-position:0 0; width:186px; height:140px;}
.item-log-members .icon.facebook{float:left; background-position:0 -152px; width:186px; height:140px;}
.item-log-members .icon.naver{float:left; background-position:0 -306px; width:186px; height:140px;}
.item-log-members .icon.person{float:left; background-position:-216px 0; width:186px; height:140px;}
.item-log-members .icon.persons{float:left; background-position:-216px -153px; width:186px; height:140px;}
.item-log-members button{position:absolute; left:248px; top:88px; border:0; background:none; color:#222; font-size:30px; font-weight:bold;}
.item-log-members .item-m01{position:absolute; left:248px; top:50px; border:0; background:none; color:#222; font-size:30px; font-weight:bold;}
.item-log-members .item-m02{position:absolute; left:248px; top:100px; border:0; background:none; color:#666; font-size:24px; text-align:left; line-height:35px}

/* 유형선택 */
.select-item-members:after{content: "."; display: block; height:0; overflow:hidden; clear:both;}
.select-item-members-top h3{color:#25aae1; font-size:34px; font-weight:bold;}
.select-item-members-top .notice{margin:31px 0 0; line-height:39px; color:#666; font-size:24px;}
.select-item-members-top .notice span{display:block; color:#222; font-weight:bold;}


